.gif{
  min-height: 100vh;
  width: 100%;
  color: #fff;
  background-color: #000000;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(https://media0.giphy.com/media/v1.Y2lkPTc5MGI3NjExMW5sZHluMmo5dWpybm5pOHE4bm04MHdxZDN0dXdkdmVzdzI2endkNyZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/u0M8FFLpWC6zY6crut/giphy.gif);
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  background-color: #2a5685;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 50px;
}
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #a5d8ff;
  shadow: #1a284;
  display: block;
  transition: 0.3s;
  font-family:Georgia;
  padding: 40px;
  text-align: left;
}
.sidenav a:hover {
  color: #f1f1f1;
}
.dropbtn{
  display:none;
  transition: max-height 1.8s ease
}
.dropbtn a{
  font-size: 21px;
  padding 14px 14px 14px 50px
}
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
.menu{
color:white;
font-size:10px;
font-family:Georgia;
}
.cart{
 color:white;
 text-decoration:none;
 font-size:27px; 
 font-family:Georgia; 
}
.cart:hover {
  color: #a5d8ff ;
  font-weight: bold;
}
.top{
  position:absolute;
  top:3px;
  left:20px;
  right:20px;
 display:flex;
  z-index:1000;
  align-items:center;
  gap:1145px;
  }

.footerTop {
  background-color: #a5d8ff;
  font-family: Georgia;
  text-align: center;
  font-size: 20px;
  color: #5b85b1;
  padding: 5px;
  border-top: 25px solid #a5d8ff;
  float: right;
  width: 100%;
}

.footerEnd {
  background-color: #a5d8ff;
  font-family: Georgia;
  text-align: center;
  font-size: 20px;
  color: #5b85b1;
  padding: 5px;
  border-bottom: 25px solid #a5d8ff;
  float: right;
  width: 100%;
}
